# Vim droppings
.sw[a-z]
.*.sw[a-z]
*~
# Build products
*.o
*.lev
nethack/Makefile
nethack/dat/Makefile
nethack/dat/data
nethack/dat/dungeon
nethack/dat/dungeon.pdf
nethack/dat/nhdat
nethack/dat/options
nethack/dat/oracles
nethack/dat/quest.dat
nethack/dat/quest_levs
nethack/dat/rumors
nethack/dat/spec_levs
nethack/doc/Guidebook
nethack/doc/Makefile
nethack/include/date.h
nethack/include/dgn_comp.h
nethack/include/lev_comp.h
nethack/include/onames.h
nethack/include/pm.h
nethack/include/vis_tab.h
nethack/src/Makefile
nethack/src/Sysunix
nethack/src/config.h-t
nethack/src/hack.h-t
nethack/src/monstr.c
nethack/src/noegnud-nethack
nethack/src/tile.c
nethack/src/vis_tab.c
nethack/util/Makefile
nethack/util/dgn_comp
nethack/util/dgn_lex.c
nethack/util/dgn_yacc.c
nethack/util/dlb
nethack/util/lev_comp
nethack/util/lev_lex.c
nethack/util/lev_yacc.c
nethack/util/makedefs
nethack/util/recover
nethack/util/tilemap
slashem/Makefile
slashem/dat/Makefile
slashem/dat/data
slashem/dat/dungeon
slashem/dat/dungeon.pdf
slashem/dat/nhshare
slashem/dat/nhushare
slashem/dat/options
slashem/dat/oracles
slashem/dat/quest.dat
slashem/dat/quest_levs
slashem/dat/rumors
slashem/dat/spec_levs
slashem/doc/Guidebook
slashem/doc/Makefile
slashem/include/date.h
slashem/include/dgn_comp.h
slashem/include/filename.h
slashem/include/lev_comp.h
slashem/include/onames.h
slashem/include/pm.h
slashem/include/tile.h
slashem/include/vis_tab.h
slashem/src/Makefile
slashem/src/Sysunix
slashem/src/config.h-t
slashem/src/hack.h-t
slashem/src/monstr.c
slashem/src/noegnud-slashem
slashem/src/tile.c
slashem/src/vis_tab.c
slashem/util/Makefile
slashem/util/dgn_comp
slashem/util/dgn_lex.c
slashem/util/dgn_yacc.c
slashem/util/dlb
slashem/util/lev_comp
slashem/util/lev_lex.c
slashem/util/lev_yacc.c
slashem/util/makedefs
slashem/util/recover
slashem/util/tilemap
